
<div class="score"><%= story_card.upvotes_count %> | <%= story_card.downvotes_count %></div>
<div class="content">
  <%= story_card.content %>
</div>

<div class="actions">
  <%= link_to "reply", reply_story_card_path(story_card) %>
  <%= link_to "⇧", vote_story_card_path(story_card,1), :remote => true %>
  <%= link_to "↓", vote_story_card_path(story_card,-1), :remote => true %>
</div>

<div class="replies">
  <%= render story_card.replies %>
</div>